body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 30%;;
    margin: 2rem
}

.btn_container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.pink {
    background-color: pink;
}
.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
.flash{
    background-color: aqua;
}